html{
    font-feature-settings: normal;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-variation-settings: normal;
    tab-size: 4;
}
.navbar,footer{
    padding: 16px;
    background-color: #000000CC;
    color:white;
}
a{
    color: white;
}
.para{
    color: black;
}
.center{
    text-align: center;
}
h1{
    margin: 0px 0px 32px;
    font-size: 36px;
}
p{
    padding: 20px;
    margin: 20px;
}
iframe{
    height: fit-content;
    width: fit-content;
    margin-top: 77.46px;
}
.font-light{
    color:#000000CC;
    font: 30px ui-sans-serif,system-ui;
    margin:37.5px 0px 64px;

}
.wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: minmax(100px,auto);
    gap: 20px;
}
.one-video{
    grid-column: 1;
    grid-row: 1;
    text-align: center;
}
.one-desc{
    grid-row: 1;
    grid-column: 2;
    padding-right: 120px;
    padding-left: 120px;
}
.two-video{
    grid-column: 1;
    grid-row: 2;
    text-align: center;
}
.two-desc{
    grid-column: 2;
    grid-row: 2;
    padding-right: 120px;
    padding-left: 120px;
}
.three-video{
    grid-column:1;
    grid-row:3;
    text-align: center;
}
.three-desc{
    grid-column: 2;
    grid-row: 3;
    padding-right: 120px;
    padding-left: 120px; 
}
.footer-info{
    margin-right:100px;
    margin-left: 400px;
}
.four-video{
    grid-column: 1;
    grid-row: 4;
    text-align: center;
}
.four-desc{
    grid-column: 2;
    grid-row: 4;
    padding-right: 120px;
    padding-left: 120px; 
}
body{
    background-color:#b7d7e8;
}